button {
  background-color: hotpink;
  border: 5px solid black;
  color: white;
}

a {
  color: hotpink;
  margin-right: 1rem;
}

body {
  background-color: indigo;
  color: yellow;
  margin: 0;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar {
  background-color: aquamarine;
  color: indigo;
  padding: 1rem;
}

.navbar a {
  margin-right: 1rem;
  color: black;
}

.content {
  margin: 1rem;
}
