/* a {
  color: hotpink;
  margin-right: 1rem;
}

body {
  background-color: indigo;
  color: yellow;
  margin: 0;
  font-family: Consolas, monaco, monospace;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar {
  background-color: yellow;
  color: indigo;
  padding: 1rem;
}

.navbar a {
  margin-right: 1rem;
  padding: 0.5rem;
  border: 0.2rem dashed black;
}

.navbar button {
  padding: 0.5rem;
  border: 0.2rem dashed black;
  background-color: yellow;
  color: hotpink;
  margin-left: 1rem;
}

.content {
  margin: 2rem;
}

.content button {
  padding: 0.5rem;
  border: 0.2rem dashed yellow;
  background-color: indigo;
  color: hotpink;
  margin-top: 1rem;
  margin-bottom: 1rem;
} */
